.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px){
  .largeMonitorHome{
    display: block;
  }

  .mobileMonitorHome{
    display: none;
  }

  .coverImage{
    background-size: cover;
    height: 100vh
  }

  .coverImage-sub{
    height: 70%;
    margin-bottom: auto;
    margin-top: auto;
  }
}


@media (max-width: 414px){
  .largeMonitorHome{
    display: none;
  }

  .mobileMonitorHome{
    display: block;
  }

  .coverImage{
    margin-top: -2rem;
    background-size: cover;
    height: 130vh;
    position: absolute;
    z-index: -10;
  }
  .coverImage-sub{
    margin-bottom: 1rem;
    padding-bottom: 3rem;
    margin-top: 8rem;
    padding-top: -1rem;
  }
}


